@import "_color.css";
@import "_vars.css";

body  {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
    font-size: var(--font-main);
    background: var(--background-main);
}
.header {
    padding: 15px 20px;
    background: linear-gradient(178deg, #424445, #bbc1c3);
    border-radius: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
}
.logo {
    display: inline-block;
    width: 15%;
    min-width: 100px;
    max-width: 180px;
    height: auto;
}
.logo__img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 40px;
}
.menu {
    display: inline-block;
    width: calc(85% - 40px);
    font-size: 0;
    padding: 0 20px;
    list-style-type: none;
    margin: 0 0;
}
.menu__item {
    display: inline-block;
    width: 25%;
    font-size: 22px;
    text-align: center;
}
.menu__link {
    text-decoration: none;
    letter-spacing: 2px;
}
.main {
    width: 80%;
    max-width: 940px;
    margin: 60px auto 0 auto;
    margin: 0 auto;
}
.main section {
    font-size: var(--font-main);
    text-align: justify;
    margin-bottom: 40px;
}
main section h2 {
    margin: 12px 0;
    position: relative;
}
.main section h2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 35%;
    height: 2px;
    background: #e4390e;
}

.main section p {
    margin: 10px 0;
}

.main section p::first-letter {
    font-size: 30px;
    font-weight: bold;
}
.main section:nth-child(3),
.main section:nth-child(4) {
    display: inline-block;
    width: calc(50% - 18px);
    vertical-align: top;
}
.main section:nth-child(3) {
    margin-right: 30px;
}